<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>PRODUCTOS INCREIBLES</p>
<p>
<ul>
    <li><a href='/'>Inicio</a></li>
     <li><a href='/clientes'>Clientes</a></li>
      <li><a href='/productos'>Productos</a></li>
       <li><a href='/soporte'>Soporte</a></li>
</ul>

</p>
